<!DOCTYPE html>  
<html>  
<head>
  <title>Upload Image</title>
</head>
<body>
  {% if msg %}
  <h1>{{ msg }}</h1>
  {% endif %}

  <h1>Upload new File</h1>

  <form method="post" enctype="multipart/form-data">
    <p><input type="file" name="file">
      <input type="submit" value="Upload">
  </form>

  <h1>Result:</h1>
  {% if img_src %}
  <img src="{{ img_src }}">
  {% endif %}

  {% if extracted_text %}
  <p>The extracted text from the image above is: <b>{{ extracted_text }}</b></p>
  <button onclick="speak_Text('{{ extracted_text }}')">Click To Play Audio</button>
  {% else %}
  The extracted text will be displayed here
  {% endif %}

  <script>
    function speak_Text(extracted_text) {

      if ('speechSynthesis' in window) {
       
        const utterance = new SpeechSynthesisUtterance();
        utterance.text = extracted_text;
        utterance.voice = speechSynthesis.getVoices()[0];
        speechSynthesis.speak(utterance);
      } else {
        console.log('Speech synthesis not supported in this browser.');
      }
    }
  </script>
</body>
</html>
